*

CSS
.primaryButton, .btn.btn-primary, .primaryButton *, .btn.btn-primary * {
  color: #363f45 !important;
}

.primaryButton, .btn.btn-primary {
  background-color: transparent !important;
  border: 1px solid #fda560 !important;
  color: #fda560 !important;
}

.primaryButton span, .btn.btn-rpimary > span {
  color: #fda560 !important;
}

.primaryButton:hover, .btn.btn-primary:hover {
  background-color: #fda560 !important;
  color: #fff !important;
}
.primaryButton:hover span, .btn.btn-primary:hover > span {
  color: #fff !important;
}

#app-header, .navbar-fixed-top, .scheduler-app-header {
  background-color: #1924c1 !important;
}

#app-header .menu-btn-hover {
  background-color: #0b15a2 !important;
}

.navbar-fixed-top .new-dropdown {
  background-color: #1924c1 !important;
}

.navbar-fixed-top .new-dropdown:hover, .navbar-fixed-top .new-dropdown:active .navbar-fixed-top .new-dropdown:focus {
  background-color: #0b15a2 !important;
}

.navbar-fixed-top .feed-selector:hover {
  background-color: #fff !important;
}

.dr-title-yellow-line {
  border-color: #fda560 !important;
}

#app-header .yellow-band *, .navbar-fixed-top * {
  color: #fff !important;
}

#app-header .yellow-band .feed-menu, .navbar-fixed-top .feed-selector {
  background-color: #fff !important;
}

#app-header .yellow-band .feed-menu > span, .navbar-fixed-top .feed-selector > span {
  color: #333 !important;
}

.scheduler-app-header * {
  color: #fff !important;
}

.item-row.selected {
  background-color: #fda560 !important;
}

.item-row.selected span:not(.dr-item-status) {
  color: #363f45 !important;
}

.item-row.selected span.editable-field {
  background: #dd8540 !important;
}

.dr-radio-checked .dr-radio-outer-circle {
  fill: #fda560 !important;
  stroke: #000 !important;
}

.dr-radio-checked .dr-radio-inner-circle {
  fill: #000 !important;
}

.dr-checkbox-checked {
  color: #fda560 !important;
}

#playlist-page .item-row.playing-now {
  
}

@keyframes playing-now {
  0%    {background-color: rgba(1, 84, 102, 0.6);}
  50%   {background-color: rgba(1, 84, 102, 1);}
  100%  {background-color: rgba(1, 84, 102, 0.6);}
}

@keyframes flash {
  0% {
    background-color: rgba(1, 83, 1, 0.2);
  }
  50% {
    background-color: rgba(1, 83, 1, 0.4);
  }
  100% {
    background-color: rgba(1, 83, 1, 0.2);
  }
}
