*

CSS
.jfk-bubble {
    background-color: ${white} !important;
}
.vimvixen-hint {
    background-color: ${#ffd76e} !important;
    border-color: ${#c59d00} !important;
    color: ${#302505} !important;
}

================================

localhost

CSS
.primaryButton, .btn.btn-primary, .primaryButton *, .btn.btn-primary * {
  color: #363f45 !important;
}

.primaryButton, .btn.btn-primary {
  background-color: #fda560 !important;
}

.primaryButton:hover, .btn.btn-primary:hover {
  background-color: #dd8540 !important;
}

#app-header, .navbar-fixed-top, .scheduler-app-header {
  background-color: #fda560 !important;
}

#app-header .menu-btn-hover {
  background-color: #dd8540 !important;
}

.dr-title-yellow-line {
  border-color: #dd8540 !important;
}

#app-header .yellow-band *, .navbar-fixed-top * {
  color: #363f45 !important;
}

#app-header .yellow-band .feed-menu, .navbar-fixed-top .feed-selector {
  background-color: #fff !important;
}

.scheduler-app-header * {
  color: #363f45 !important;
}

.item-row.selected {
  background-color: #fda560 !important;
}

.item-row.selected span:not(.dr-item-status) {
  color: #363f45 !important;
}

.item-row.selected span.editable-field {
  background: #dd8540 !important;
}

.dr-radio-checked .dr-radio-outer-circle {
  fill: #fda560 !important;
  stroke: #000 !important;
}

.dr-radio-checked .dr-radio-inner-circle {
  fill: #000 !important;
}

.dr-checkbox-checked {
  color: #fda560 !important;
}

#playlist-page .item-row.playing-now {
  
}

@keyframes playing-now {
  0%    {background-color: rgba(1, 84, 102, 0.5);}
  50%   {background-color: rgba(1, 84, 102, 0.3);}
  100%  {background-color: rgba(1, 84, 102, 0.5);}
}

@keyframes flash {
  0% {
    background-color: rgba(183, 254, 213, 0.1);
  }
  50% {
    background-color: rgba(183, 254, 213, 0.3);
  }
  100% {
    background-color: rgba(183, 254, 213, 0.1);
  }
}
